src/main/mule/inventory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="inventory-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="inventory-api-config" api="resource::dfcd2a19-4b28-4e3b-a877-fc633052cb30:inventory-api:1.0.1:oas:zip:inventory-api.json" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="5f4e219c-fdc5-4365-a32e-140c44d46a76" >
		<salesforce:basic-connection username="mpriyaspandana@teksystems.com" password="Mvrao@230361" securityToken="2vR7metk1vP83jrvGllMXHWe" />
	</salesforce:sfdc-config>
	<flow name="inventory-api-main">
        <http:listener config-ref="inventory-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="inventory-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="inventory-api-console">
        <http:listener config-ref="inventory-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="inventory-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\inventory\(productCode):application\json:inventory-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="d80e45ac-e015-450a-9f1a-dc6515242b89" message='#["updating the quantity of the product"]'/>
		<ee:transform doc:name="Transform Message" doc:id="22b5b3ac-f2c1-4709-b095-08d6ab97a9d9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id:payload.Id,
	Name: payload.productName,
	productCode__c: payload.productCode,
	quantity__c: payload.quantity,
	price__c: payload.price
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Inventory__c" doc:name="Update" doc:id="cbb3c606-c1fc-4596-9b21-38a8147738d1" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="productCode">attributes.uriParams.'productCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode":200,
	"message":"quantity updated successsfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0e92ddf6-99a2-4062-a9e1-b359f401fb13" message='#["updated the quantity"]'/>
    </flow>
    <flow name="get:\inventory:inventory-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="8f55a514-3dab-4827-89e3-e6ecdba1e846" message='#["retreving the item details"]'/>
		<salesforce:query doc:name="Query" doc:id="34271744-56b8-4a33-82e3-cf99da4abe8b" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, quantity__c, price__c, productCode__c,Id
FROM Inventory__c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="813cd35f-30b7-4c78-b463-9c40e0ce41f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\inventory:inventory-api-config" />
    </flow>
	<flow name="get:\inventory\(productCode):inventory-api-config">
		<ee:transform doc:name="Transform Message" doc:id="ebf8ea16-a294-4557-9f1f-9ed3be6b1296" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Productcode" ><![CDATA[attributes.uriParams.'productCode']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="296310da-e6ac-4871-b4a2-0a25b69f25d4" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, quantity__c, price__c, productCode__c,Id
FROM Inventory__c where productCode__c=':Productcode']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"Productcode" : vars.Productcode
}]]]></salesforce:parameters>
		</salesforce:query>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\inventory:application\json:inventory-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="50728708-8e57-4c12-a14e-780db3ab677f" message='#["creating new item"]'/>
		<ee:transform doc:name="Transform Message" doc:id="dd643e5f-3f05-4381-9b11-3ae60f8b05ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.productName,
	productCode__c: payload.productCode,
	quantity__c: payload.quantity,
	price__c: payload.price
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="90eaff99-b6f5-4a14-8db9-e3c947648b91" config-ref="Salesforce_Config" type="Inventory__c"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"StatusCode":201,
	"message":"product item created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="933152ad-6843-40bb-a7ae-159e852588d9" message='#["created the item"]'/>
    </flow>
</mule>
